$orange-peel: #ff9f1cff;
$mellow-apricot: #ffbf69ff;
$black: #000000;
$white: #ffffffff;
$light-cyan: #cbf3f0ff;
$tiffany-blue: #2ec4b6ff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;