@import "../../globals/variables";

.home {
  background: $mellow-apricot;
  border: 3px solid $orange-peel;
  border-radius: 1em;
  text-align: center;
  color: $white;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  border: 3px solid $orange-peel;
  background: $light-cyan;
}


.button {
  border: 3px solid $orange-peel;
  background: $light-cyan;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

.title {
  font-size: larger;
}

.text {
  font-size: large;
}
