@import "../../globals/variables";

.status {
  cursor:default;
  display: grid;
  grid-template-columns: auto auto fit-content(5ch);
  padding: .1em
}

.name{
  white-space: nowrap;
}

.dash{
  overflow: hidden;
}

.dots{
  
  // text-align: end;
  font-size: 0.75em;
  text-align-last: justify;
}